header {
	background :#1F85DE;
	-moz-box-shadow   :2px 2px 2px black;
	-webkit-box-shadow:2px 2px 2px black;
	box-shadow        :2px 2px 2px black;
	margin-right      :15px;
	margin-left 	  :5px;
	margin-top 	  	  :5px;
}

header p {
	font-family:'Lobster';
}

.appnombre {
	font-family:'Lobster';
    width: 900px;
    height:250px;
	text-align :center;
	background :#1F85DE;
	color      :black;
	font-size  :50pt;
}

header img {
	padding    		  :20px;
	border            :4px #1F85DE;
}

body{
	padding: 5px;
	text-align :center;
	padding-left: 20px;
}
