header {
	background :#1F85DE;
	-moz-box-shadow   :4px 4px 4px black;
	-webkit-box-shadow:4px 4px 4px black;
	box-shadow        :4px 4px 4px black;
	margin-right      :15px;
	margin-left 	  :15px;
	margin-top 	  	  :5px;
}
.menu {
	font-size  :20pt;
	text-align : right;
}

.appnombre {
	font-family:'Lobster';
    width: 900px;
    height:250px;
	text-align :center;
	background :#1F85DE;
	color      :black;
	font-size  :40pt;
}

header img {
	padding    		  :20px;
	border            :4px #1F85DE;
}

body{
	padding: 5px;
	text-align :center;
	padding-left: 20px;
}

h2 {
	font-family:'Lobster';
	font-weight: bold;
	color: #1F85DE;
	
}
.button {
	font-family:'Lobster';
	font-weight: bold;
	border: none;
	color: white;
	transition-duration: 0.5s;
	cursor: pointer;
}

.button1 {
	color: #1F85DE;
	background-color: white; 
	border: 2px solid #1F85DE;
	padding: 10px;
}

.button1:hover {
	color: white;
	background-color: #1F85DE;
	border: 2px solid black;
}

.button2 {
  	background-color: #1F85DE;
  	color: white;
  	padding: 10px;
}

.button2:hover {
	background-color: white; 
	color: #1F85DE;
}

.ind {
  	border-collapse: collapse;
  	text-align: center;
  	width: 80%;
}

.ind tr:nth-child(even) {
  background-color: #dddddd;
}

.ind td{
  	text-align: center;
	font-size  :20pt;
  	padding: 10px;
}
.ind th {
  	background-color: #1F85DE;
  	color: white;
  	text-align: center;
	font-size  :35pt;
  	padding: 5px;

}

