{% load static %}
<html lang=>
    <head>
        <link rel="icon" type="image/x-icon" href="https://static-cdn.multiscreensite.com/runtime/favicon_d1_res.ico"/>
        <title>SGC ColchonesSuper</title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/sgc.css' %}">

    </head>
    <body >
    <header>
        <span class='appnombre'>
            <img src="{% static 'Logo-super.jpg' %}" > 
            Sistema de Gestión de Calidad
        </span>
        <span class='menu' >
            <a href="{% url 'index' %}"><button class="button button2">Mapa de procesos</button></a>
            <a href="{% url 'indicadores' %}"><button class="button button2">Indicadores</button></a>
            <a href="{% url 'index' %}"><button class="button button2">Salir</button></a>
        </span>
    </header>
    {% block content %}
    {% endblock %}
    <!-- <a href="/logout">Cerrar sesión</a> -->
    </body>
</html>