{% extends 'base.html' %}
{% block content %}
	<br>
	<br>
	<div class="container-fluid">
		<p align="center">
		<h2>{{indicador.nombre}}</h2>
		<br>
		<br>
		<b>Procedimiento:</b>
		<a href="{% url 'procedimiento' pk=indicador.procedimiento.pk %}">{{indicador.procedimiento}}</a>
		<br>
		<br>
		<b>Proposito</b> 
		<br>
		{{indicador.proposito}}
		<br>
		<br>
		<b>Detalle</b> 
		<br>
		{{indicador.detalle}}
		<br>
		<br>
		<b>Interpretación</b> 
		<br>
		{{indicador.interpretacion}}
		<br>
		<br>
		<b>Fecha Objetivo</b> 
		<br>
		{{indicador.fecha_objetivo}}
		</p>
	</div>
	<br>
{% endblock %}