{% extends 'base.html' %}

{% block content %}
	<br>
	<table class="table table-dark table-hover" align=center>
		<tr>
			<th>Nombre</th>
			<th>Valor Actual</th>
			<th>Valor Esperado</th>
			<th>Indicador</th>
		</tr>
		{% for i in indicadores %}
		<tr>
			<td><a href="{% url 'indicador' pk=i.pk %}">{{ i.nombre }}</a></td>
			<td>{{i.actual}}</td>
			<td>{{i.esperado}}</td>
			<td>
			<div class="progress">
			<div class="progress-bar" style="width:{{i.calc}}%"></div>
			{{i.calc}}  %
			</div>
			</td>
		</tr>
		{%endfor%}
		<tfoot>
			Presione sobre un indicador para ver mas detalles
		</tfoot>
	</table>
	-- % este indicador se utiliza como referencia para conocer el estado actual de la empresa
	<br>
{% endblock %}
