{% extends 'base.html' %}
{% block content %}
	<p align=center>
	<br>
	<h1>{{procedimiento.nombre}}</h1>
	{{procedimiento.codigo}}
	<br>
	<br>
	<b>Objetivo</b>
	<br>
	{{procedimiento.objetivo}}
	<br>
	<br>
	<b>Alcance</b>
	<br>
	{{procedimiento.alcance}}
	<br>
	<br>
	<b>Responsable/s:</b>
	<br>
	{% for e in procedimiento.encargados %}
		<h6>{{e}}</h6>
	{% endfor %}
	<br>
	<button href="{{ procedimiento.infograma }}" >
	<b>Infograma</b>
	</button>
	<br>
	<br>
	<button href="{{ procedimiento.formatos }}">
	<b>Formato</b>
	</button>
	<br>
	<br>	
	<b>Indicadores:</b>
	{% for i in indicadores %}
		<a href="{% url 'indicador' pk=i.pk %}">{{ i.nombre }}</a><br>
	{%endfor%}
	</p>
	<br>
	<br>	

{% endblock %}
